<li class="<%= plugin.status %> plugin">
  <%= link_to plugin.name.titleize, [plugin.website.server, plugin.website, plugin] %>
  <span class="version"><%= plugin.version %></span>
  <%= render 'plugins/spans', plugin: plugin %>
</li>