<div class="intro page-header">
  <h1>Server listing</h1>
  <p>In the accordion tool below, there is a quick glance to see the state of all the Wordpress websites categorized in each server.</p>
  <p>Click on a website's name to go to it's detail page and view all plugin information and available updates</p>
</div>

<div class="accordion" id="accordion">
  <% if (@servers.count > 1) %>
    <% len = @servers.length / 2 %>
    <% firsthalf = @servers[0..len-1] %>
    <% secondhalf = @servers[len..-1] %>
    <div class="col">
      <% firsthalf.each do |server| %>
        <%= render :partial => "servers/single", :locals => { :server => server } %>
      <% end %>
    </div>
    <div class="col">
      <% secondhalf.each do |server| %>
        <%= render :partial => "servers/single", :locals => { :server => server } %>
      <% end %>
    </div>
  <% else %>
    <%= render :partial => "servers/single", :locals => { :server => server } %>
  <% end %>

</div>