<p id="notice"><%= notice %></p>

<div class="intro page-header">
  <h1>Search all<small> in websites and plugins</small></h1>
</div>

<%= render :partial => "shared/search" %>

<div class="results">
  <ul>

  </ul>
</div>