.intro.page-header
  %h1
    = @server.name
    %small server's visualization
  %p
    Visualizing the website and plugin information for
    %em= @server.name
    server.

.row.visualizations
  - unless @wordpress_data.blank? || @wordpress_data[:server_data][:total].blank?
    .server.span6{ data: { "has-update" => @wordpress_data[:server_data][:has_update],
      "up-to-date" => @wordpress_data[:server_data][:up_to_date],
      "total" => @wordpress_data[:server_data][:total] } }
      %p
        %strong Wordpress website updates

  .server.span6{ data: { "has-update" => @drupal_data[:server_data][:has_update],
    "up-to-date" => @drupal_data[:server_data][:up_to_date],
    "total" => @drupal_data[:server_data][:total] } }
    %p
      %strong Drupal website updates
%br/
.clearfix
.row.visualizations
  .websites.span6{ data: { "versions" => @wordpress_data[:website_data][:versions] } }
    %p
      %strong Wordpress website versions
  .websites.span6{ data: { "versions" => @drupal_data[:website_data][:versions] } }
    %p
      %strong Drupal website versions

  :javascript
    jQuery(document).ready(function () {
      window.Visualization.Server();
      window.Visualization.Website();
    });