<header class="header navbar navbar-inverse">
  <div class="navbar-inner">
    <%= image_tag("wordpress-logo.png", :size => "249x57", :class => "logo pull-left") %>
    <%= image_tag("drupal-logo.png", :size => "57x57", :class => "pull-left") %>
    <a class="brand" href="<%= root_path %>">Overview</a>
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <%= render_navigation %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>