// Empty the result number
$(".results .number").html("");

<% if (@results.present?) %>
	$(".results ul").html("<%= escape_javascript(render(@results)) %>");
	$(".results .number").html("<%= @results.count %> results found");
<% else %>
	$(".results ul").html("<li>No results found for <strong><%= params[:q] %></strong>. Did you type your query correctly?</li>");
<% end %>