<% if (@results.any?) %>
	<% if (@results.kind_of? Hash) %>
		<% html = "" %>
		<% html = "<li>No results found. Did you type your query correctly?</li>" unless @results[:websites].any? and @results[:plugins].any? %>
		<% html += escape_javascript(render(@results[:websites])) if @results[:websites].any? %>
		<% html += escape_javascript(render(@results[:plugins])) if @results[:plugins].any? %>
		$(".results ul").html("<%= html.html_safe %>");
	<% else %>
		$(".results ul").html("<%= escape_javascript(render(@results)) %>");
	<% end %>
<% else %>
	$(".results ul").html("<li>No results found. Did you type your query correctly?</li>");
<% end %>