<p id="notice"><%= notice %></p>

<div class="intro page-header">
  <h1>Search all<small> in websites and plugins</small></h1>
</div>

<div class="explanation">
  <p>Use the search box to narrow down your selection. There are some handy helpers to narrow down your search in the sidebar.</p>
  <p>You can search explicitly on websites and plugins.</p>
  
</div>

<%= render :partial => "shared/search_widget" %>