<p id="notice"><%= notice %></p>

<div class="intro page-header">
  <h1>Search all<small> in websites and plugins</small></h1>
</div>

<div class="explanation">
  <p>Use the search box to narrow down your selection. There are some handy helpers to narrow down your search, like:</p>
  <code>%ismet%</code> #the % sign is a wildcard. Will find anything containing "ismet"<br />
  <code>@plugin akismet</code> #searches for akismet plugin<br />
  <code>@website foobar</code> #searches for website called foobar<br />
  <code>@core 3.5.1</code> #searches for websites with core version 3.5.1<br />
</div>

<%= render :partial => "shared/search_widget" %>