<div class="intro page-header">
  <h1>Vista</h1>
  <p>Welcome. This is the overview application to view all your Wordpress and Drupal install information, if you have any indexed website already, of course. To get a better detail and to see which plugins need updates, click on one of your servers:</p>
  <p>If you already have set up a <a href="https://github.com/tolgap/vista-collector">Collector</a> and haven't ran it yet, give it a run by going to it's directory and running <code>rake collect_all</code></p>
</div>
<div class="server-list">
  <h2>Servers:</h2>
  <ol>
    <% @servers.each do |server| %>
      <li>
        <h3>
          <%= link_to server.name, server_path(server) %>
          <small>(<%= server.websites.count %> websites)</small>
        </h3>
      </li>
    <% end %>
  </ol>
</div>