.wrap {
	
	.header {

		.container {

			.nav {
				margin-top: 10px;
				margin-left: 20px;
			}

		}

		.logo {
			width: 249px;
			height: 57px;
			margin-left: 20px;
		}

		.brand {
			margin-top: 12px;
			margin-left: 5px;
		}
	}
}