// Place all the styles related to the Plugins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.plugin {
  &.status-inactive {
    background-color: #000 !important;
    opacity: 0.4;

    a {
      color: #fff !important;
    }

    .badge, .label {
      color: #000 !important;
    }
  }

  &.status-active {
    background-color: #fff !important;
    color: #000 !important;
  }
}