// Place all the styles related to the Servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col {
	float: left;
	width: 543px;
	margin: 0 20px;
}

td.small {
  font-size: 10px;
  max-width: 120px;
}